<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Document</title>
</head>
<div class="maincontainer">
  <nav class="navbar"><a href="/">Home</a><a href="/">Services</a><a href="/">Sponcers</a><a href="/contact">Contact</a></nav>
  <div class="imagetab relative"><img src="/static/hd-wallpaper-1056764_1920.jpg" alt="">
    <div class="imgcontent absolute">
      <h2>Welcome to the dancing </h2>
    </div>
  </div>
  <div class="ourmission">
    <h2>Our Mission</h2>
    <div class="row">
      <div class="boxes">
        <h3>Dance traning</h3>
        <div class="flexr">
          <div class="missionimg"><img src="/static/ballerina-2026663_640.png" alt=""></div>
          <div class="missioncontent">
            <p>You will go through the best training instruments </p>
          </div>
        </div>
      </div>
      <div class="boxes">
        <h3>Dance perfection</h3>
        <div class="flexr">
          <div class="missionimg"><img src="/static/silhouette-3280313_640.png" alt=""></div>
          <div class="missioncontent">
            <p> You will be trained as a best dancer</p>
          </div>
        </div>
      </div>
      <div class="boxes">
        <h3>Dance the way you like</h3>
        <div class="flexr">
          <div class="missionimg"><img src="/static/carefree-1299639_640.png" alt=""></div>
          <div class="missioncontent">
            <p> You have multiple options to get perfect</p>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
<div class="categories">
  <div class="categorybox">
    <div class="heading">
      <h2>Hip Hop Dance</h2>
    </div>
    <div class="img">
      <img src="/static/hiphop.jpg" alt="">
    </div>
    <div class="button">
      <button><a href="/contact">Register this</a></button>
    </div>
  </div>

  <div class="categorybox">
    <div class="heading">
      <h2>Jazz Dance</h2>
    </div>
    <div class="img">
      <img src="/static/jazz.jpg" alt="">
    </div>
    <div class="button">
      <button><a href="/contact">Register this</a></button>
    </div>
  </div>

  <div class="categorybox">
    <div class="heading">
      <h2>Folk Dance</h2>
    </div>
    <div class="img">
      <img src="/static/folk.jpg" alt="">
    </div>
    <div class="button">
      <button><a href="/contact">Register this</a></button>
    </div>
  </div>
</div>
<footer class="footer">Copyright 2022 by Tejas Giri</footer>